
body{background-color:black;
     
}

#moon{
  background-image:url("https://cdn.cnn.com/cnnnext/dam/assets/180725085608-01-mars-lake-radar-evidence-exlarge-169.jpg");
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:center;
  width:900px;
  height:600px;
  position: absolute;
  top:60px;
  left:320px;
  background-color:#5E5E5E;
  color: white;
  font-weight:bold;
  font-size:2em;
}
#MARS{
  font-size:3em;
  font-family:fantasy;
  position:absolute;
  top:40%;
  left:37%;
}
#tag
{
  font-size:11px;
}

a
{
color:white;
text-decoration: none;
}


a:hover{
background-color:#FFA600;
}
